.nav {
    width: 100%;
    
  }

.nav-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
  }

.left {
  padding: 15px 0 0 0;
}

li {
    display: inline;
    padding: 0 10px;
    
}